ion-toolbar{
    --background: #138D75!important ;
    opacity:1!important; 
}
ion-title{
    color: #ffffff !important ; 
}
ion-icon{
    color: #ffffff !important ; 
}
.error-message
{
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}
.fon{
    font-size: 9px;
}
