<ion-header>
  <ion-toolbar>
    <ion-title>Lab Test update</ion-title>
    <ion-buttons slot="start">
        <ion-button (click)="back()" >
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    
  </ion-toolbar>
</ion-header>


<ion-content>



  
   
            <div *ngFor="let form_elem of test_res; let i=index" >
       <ion-card *ngIf="form_elem.range!=undefined">
          {{i}}
         <ion-item>
            <small  slot="start"><ion-label>{{form_elem.name}}</ion-label></small>
            <small  slot="end"><ion-input  [(ngModel)]="sname[i]"    type="text"  placeholder="{{form_elem.name}}"></ion-input></small>
         </ion-item>

          <ion-item>
            <small slot="start"> <ion-label >Units</ion-label></small>
            <small slot="end">

                <select aria-placeholder="select"  [(ngModel)]="unit[i]" (ngModelChange)="check($event,i)">
                <option *ngFor="let elem of form_elem.unit" value="{{elem}}">{{elem}}</option>
                </select>
            </small>
        
              
          </ion-item>


            <ion-item >
              <small slot="start" > <ion-label >Method</ion-label></small>
  
              <small slot="end">
                <select  [(ngModel)]="checks[i]" (ngModelChange)="check($event,i)">
                <option  *ngFor="let elemu of form_elem.method" value="{{elemu}}">{{elemu}}</option>
                <option value="Other Method">Other Method</option>
                </select>
                
              </small>
            </ion-item>

         

             <ion-item  *ngIf="chec[i]==true">
                <small slot="start"> <ion-label >Other Method Name</ion-label></small>
    
               <small slot="end">  
                  <ion-input  [(ngModel)]="method[i]" placeholder="method" ></ion-input>
               </small>
             </ion-item> 

                
              
             <ion-item>
              <small slot="start"> <div class="ion-text-wrap"><p  class="fon">Bio ref Range  {{form_elem.range}}</p>
                </div>
              </small>
  
         
              </ion-item> 

            </ion-card>
           </div>

      
         <small *ngIf="sts!=1"> <ion-button size="small"  (click)="sub()" >Save</ion-button></small>
         <small *ngIf="sts==1"> <ion-button size="small"  (click)="sub()" >Update</ion-button></small>




</ion-content>
