<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back()" >
              <ion-icon name="arrow-back"  ></ion-icon>
            </ion-button>
          </ion-buttons>
      <ion-title>Hospital Registration</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <form [formGroup]="validations_form" >
  
      <ion-card>
  
          <ion-grid>
             
          
            <ion-row>   
            <ion-col size="6">
             
              <ion-item>
                <ion-label  position="floating" ><small>name</small></ion-label>
                <ion-input formControlName="name"  ></ion-input>
                
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.name">
                  <div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
                </ion-col>

          </ion-row>
         
            <ion-row>
                        <ion-col size="6">
                     
                 
                          <ion-item>
                            <ion-label position="floating" ><small>Email Id</small></ion-label>
                            <ion-input   formControlName="email" ></ion-input>
                            
                          </ion-item>
        
                          <ng-container *ngFor="let validation of validation_messages.email">
                              <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                              </div>
                            </ng-container>
                        </ion-col>
          
             
              
            
                  <ion-col>
                   
                <ion-item >
                  <ion-label position="floating" ><small>Address</small></ion-label>
                  <ion-input   formControlName="address"  ></ion-input>
                  
                </ion-item>
                <ng-container *ngFor="let validation of validation_messages.address">
                    <div class="error-message" *ngIf="validations_form.get('address').hasError(validation.type) && (validations_form.get('address').dirty || validations_form.get('address').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
                  </ion-col>
            
                </ion-row>
      
           
              
               
              
                <ion-row>
                  
                      <ion-col size="6">
                         
                 
                        <ion-item>
                            <ion-label position="floating" ><small>City</small></ion-label>
                            <ion-input   formControlName="city"  ></ion-input> 
                        </ion-item>
      
                        <ng-container *ngFor="let validation of validation_messages.city">
                            <div class="error-message" *ngIf="validations_form.get('city').hasError(validation.type) && (validations_form.get('city').dirty || validations_form.get('city').touched)">
                              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                            </div>
                          </ng-container>
                      </ion-col>
                   
              
                    
                      <ion-col size="6">
                     
                 
                          <ion-item>
  
                              <ion-label position="floating" ><small>State</small></ion-label>
                              <ion-input   formControlName="state"  ></ion-input> 
  
  
                    
                          </ion-item>
        
                          <ng-container *ngFor="let validation of validation_messages.state">
                              <div class="error-message" *ngIf="validations_form.get('state').hasError(validation.type) && (validations_form.get('state').dirty || validations_form.get('state').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                              </div>
                            </ng-container>
                        </ion-col>
  
  
                        <ion-col size="6">
                     
                 
                            <ion-item>
                                <ion-label position="floating" ><small>phone_no</small></ion-label>
                                <ion-input   formControlName="phone_no"  ></ion-input> 
                            </ion-item>
          
                            <ng-container *ngFor="let validation of validation_messages.phone_no">
                                <div class="error-message" *ngIf="validations_form.get('phone_no').hasError(validation.type) && (validations_form.get('phone_no').dirty || validations_form.get('phone_no').touched)">
                                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                                </div>
                              </ng-container>
                          </ion-col>
              
                  </ion-row>
                 
                  <div text-center>
                      <ion-button (click)="regester()" [disabled]="!validations_form.valid" fill="outline" shape="round"><small>Save</small></ion-button>
                     
                              
                    </div>   
                
          
      </ion-grid>
        </ion-card>
       
          </form>
  </ion-content>
  
  
  