
  <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back()" >
              <ion-icon name="arrow-back"  ></ion-icon>
            </ion-button>
          </ion-buttons>
      <ion-title>Lab Information</ion-title>
    </ion-toolbar>
  </ion-header>
  

  
  <ion-content>

    
      <ion-card class="cardsize">
  
          <ion-item lines="none">
            <h6 slot="start">Lab Id</h6>
            <h6 slot="end">{{userData.lab_id}}  </h6>
          </ion-item>
        
          <ion-item class="activated" lines="none">
            <!-- <ion-icon name="wifi" slot="start"></ion-icon> -->
            <h6 slot="start">Name</h6>
            <h6 slot="end"> {{userData.name}}   </h6>
          </ion-item>
    
          <ion-item lines="none">
            <h6 slot="start">Phone no</h6>
            <h6 slot="end">{{userData.lab_phone}}  </h6>
          </ion-item>
    
          <ion-item class="activated" lines="none">
            <h6 slot="start">Address</h6>
            <h6 slot="end">   {{userData.address}}</h6>
          </ion-item>
  
          <ion-item lines="none">
            <h6 slot="start">City</h6>
            <h6 slot="end"> {{userData.city}} </h6>
          </ion-item>
          <ion-item  class="activated" lines="none">
            <h6 slot="start">State</h6>
            <h6 slot="end">{{userData.state}} </h6>
          </ion-item>
        
          
          <ion-item   lines="none">
            
            <h6 slot="start" (click)="edit()"><u>Edit</u></h6>
          </ion-item>
          
  
      
  
        
        </ion-card>
        <div>
          <h6 center>Update Patient's Record</h6>
        </div>
   <ion-item>
     <ion-label>
       Patient's Id :
     </ion-label>
     <ion-input [(ngModel)]="phone_no" placeholder="phone_no">
  
     </ion-input>
     <ion-button (click)="search()">Search</ion-button>
   </ion-item>
    
  
</ion-content>
