ion-toolbar{
    --background: #138D75!important ;
    opacity:1!important; 
}
ion-title{
    color: #ffffff !important ; 
}
ion-icon{
    color: #ffffff !important ; 
}
ion-label{
    color: #ffffff !important ; 
}
ion-menu-button{
    color: #ffffff !important ; 

}
ion-select{
    color: #ffffff !important ; 

}
.error-message
{
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}


