.i-button{
    height:28px
}
.cenimg{
    height: 71px; 
    padding-top:10px;
}
ion-icon{
    color: #ffffff !important ; 
}
.sele{
    padding-top: 30px;
}
.error-message
{
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}
ion-title{
    color: #ffffff !important ; 
}
ion-toolbar{
    --background: #138D75!important ;
    opacity:1!important; 
}
ion-card {
    border: 2px solid grey;

 }
 .psw{
     color:skyblue;
 }
 .ion-content{
overflow: hidden;
 }