<ion-header>
  <ion-toolbar>
    <ion-title>Patient Medical History</ion-title>
    <ion-buttons slot="start">
        <ion-button (click)="back()" >
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
  

  
  
    <ion-toolbar>
   
            <ion-label>Patient ID: {{patient_id}}</ion-label>
            <!-- <ion-label>Name: {{full_name}}</ion-label> -->
           
      
            <ion-row>
              <ion-col size="4">
                <small>   <ion-select [(ngModel)]="searchOptions.child_name">
                  <ion-select-option  value="">{{full_name}}</ion-select-option>
                  <ion-select-option *ngFor="let obj of userData"  value="{{obj.name}}">{{obj.name }}</ion-select-option>
                </ion-select></small>
              </ion-col>
              <ion-col size="4">
                
                <small>   <ion-select  [(ngModel)]="searchOptions.year">
                  <ion-select-option  value="">Select Year</ion-select-option>
                  <ion-select-option *ngFor="let obj of years"  value="{{obj.year}}">{{obj.year }}</ion-select-option>
                </ion-select></small>
          
                </ion-col>
        
                <ion-col size="4">
                   
                  <ion-button (click)="search()" size="small">search</ion-button>
                  
                    
                      </ion-col>
            </ion-row>
  
  
      </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <div  text-center>
          <u><h6   text-center>Doctors Visits</h6></u>
        </div>
      <ion-card   class="cardsize" *ngFor="let item of visits"  >
       
          <ion-item class="activated" lines="none">
            <!-- <ion-icon name="wifi" slot="start"></ion-icon> -->
            <h6 slot="start">Visit Date</h6>
            <h6 slot="end">{{item.date  | date:'yyyy-MM-dd'}}</h6>
            
  
          </ion-item>
  
          <ion-item lines="none">
            <h6 slot="start">Doctors Name</h6>
            <h6 slot="end">{{item.docter_name}}</h6>
          </ion-item>
     
                <ion-item class="activated" lines="none">
                  <h6 slot="start">Lab Test Name</h6>
                  <div slot="end">
                     <small *ngFor="let obj of item.test_name"> <p>{{obj.name}}</p></small>
                  </div>
                </ion-item>
                

          
                  <ion-item  lines="none" *ngIf="item.status=='1'" >
                    <h6 slot="start">Status</h6>
                    <h6 slot="end">Compleated</h6>
                    <u *ngIf="item.status=='1' && item.lab_id ==lab_id && (item.date| date:'ddMMyyyy') == dateee"  (click)="details(item)"><p>EDIT</p></u>
                  </ion-item>
                  <ion-item  lines="none" *ngIf="item.status!='1'" (click)="details(item)">
                    <h6 slot="start">Status</h6>
                    <h6 slot="end">Not Completed</h6>
                    <u   (click)="details(item)"><p>Update</p></u>

                  </ion-item>
       
        </ion-card>
  
        <!-- <div  text-center>
          <u><h6  text-center>Lab Visits</h6></u>
        </div>
  
       
  
      <ion-card *ngFor="let item of lablist">
           <ion-item class="activated" lines="none">
             <ion-icon name="wifi" slot="start"></ion-icon> 
            <h6 slot="start">Visit Date</h6>
            <h6 slot="end">{{item.date  | date:'dd-MM-yyyy'}}
                </h6>
          </ion-item>
  
          <ion-item lines="none">
            <h6 slot="start">Doctor Name</h6>
            <h6 slot="end">{{item.docter_name}}</h6>
          </ion-item>
          <ion-item class="activated" lines="none">
              <ion-icon name="wifi" slot="start"></ion-icon> 
              <h6 slot="start">Lab Test</h6>
              <h6 slot="end">{{item.test_name}}</h6>
            </ion-item>
          <ion-item lines="none">
              <h6 slot="start">Result</h6>
              <h6 slot="end" (click)="view(item)">View</h6>
            </ion-item>
       
     
   
  
  </ion-card> -->
  </ion-content>
  