.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
ion-toolbar{
  --background: #138D75!important ;
  opacity:1!important; 
}
ion-icon{
  color: #ffffff !important ; 
}
.error-message
{
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}
ion-title{
  color: #ffffff !important ; 
}
